@font-face{
    font-family:Titillium;
    src:url("Titillium-Regular.otf");
}

*{font-family:"Titillium" !important;}

body{
    margin-top:0;
    padding-left:12%;
    padding-right: 12%;
    background-color:black;
}
/*=======================NAVIGATION BAR===========================*/
.navbar{
    top:0;
    position:fixed;
    width: 76%;
    background-image:url("images/sternenhimmel.jpg");
    background-color:black;
    height: 110px;
}

.navbar_logo{
    background-image: url("nasa-logo.svg");
    width: 90px;
    height: 90px;
    margin-top: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 15px;
}

.navbar .search{
    float:right;
}

.navbar input[type=text]{
    padding: 6px;
    width:150px;
    height:24px;
    margin-top: 20px;
    font-size: 12px;
    border: none;
    background-color:#333333;
    color:#fff;
}

.navbar .search button{
    float: right;
    padding: 6px 10px;
    margin-top: 20px;
    margin-right: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color:#333333;
    color:white;
}

.login input{
    position:absolute;
    padding: 6px 10px;
    bottom:0;
    top:auto;
    right:16px;
    font-size:16px;
    border: none;
    cursor: pointer;
    background-color:#333333;
    color:white;
    z-index: 10;
}

.navbar h1{
    text-align:center;
    margin:30px;
    color:white;
}

/*=======================TOP MENU===========================*/


.main_menu{
    float:right;    
    margin-right:6px;
    height: 50px;
    list-style-type: none;
}

.main_menu ul{
    float:right;
}

.main_menu li{
    float:left;
    border-right:1px solid #bbb;
    line-height:10px;
}

.main_menu li:last-child{
    border-right:none;
}

/*=======================DROPDOWN===========================*/

.dropbtn{
    display: block;
    border:none;
    color:white;
    background: none;
    font-size: 22px;
    text-align:center;
    padding: 20px 22px;
    cursor:pointer;
}

.dropdown:hover .dropbtn{
    background-color: #0b3d91;
}

.dropdown{
    position:relative;
    display:inline-block;
}

.dropdown-content{
    display:none;
    position:absolute;
    background-color: #0b3d91;
    min-width: 150px;
    z-index:1;
}

.dropdown-content a{
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #030a5b;
}

.dropdown:hover .dropdown-content{
    display:block;
}


/*=======================LOWER MENU===========================*/


.sub_menu{
    position:absolute;
    bottom:9px;
    top:auto;
    text-align:center;
    display:inline-block;
    width:100%;
    padding:0;
    margin:0;
    list-style-type:none;
}

.sub_menu li{
    position:relative;
    display:inline;
    border-right:1px solid #bbb;
    line-height:10px;
    margin:0 0 0 -5px;
}

.sub_menu li:last-child{
    border-right:none;
}

.sub_menu a{
    display: inline;
    border:none;
    color:white;
    text-align:center;
    background-color:#555;
    font-size: 14px;
    padding: 10px 12px;
    margin-bottom: 10px;
    cursor:pointer;
}

.sub_menu a:hover{
    background-color: darkgrey;
}

/*=======================GRIDLAYOUT===========================*/

.grid-container{
    margin-top:130px;
    display:grid;
    grid-gap:5px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 350px 350px 350px;
}

.grid-container > div {
    text-align: left;
    color: black;
    background-color:white;

}

.grid-container .ttl{
    position:absolute;
    margin-top: 280px;
    background-color:#5d7fb9;
    opacity:0.75;
    color:white;
    font-size:20px;
    padding: 0 5px;
    border:none;
    z-index:2;
}

.grid-container .txt{
    position: absolute;
    margin-top: 305px;
    background-color:white;
    opacity:0.75;
    color:black;
    font-size:30px;
    padding: 0 5px;
    border:none;
    z-index:2;
}

.grid-container a:hover{
    opacity:1;
}

.grid-container img{
    max-height:100%;
    max-width:100%;
}

/*=======================ITEMS===========================*/


.grid-container .item1{
    grid-column-start:1;
    grid-column-end:5;
    background-color:black;
}

.grid-container .item2 {
    position:relative;
}

.grid-container .item2 .overlay {
    position: absolute;
    bottom: 0;
    left:0;
    background: white;
    color: black;
    height:7%;
    width: 90%;
    opacity:0.75;
    font-size: 20px;
    padding:5%;
    text-align: left;
    overflow:hidden;
    transition:height 0.5s ease;
}

.grid-container .item2:hover .overlay {
    height:90%;
    opacity: 1;
}

.grid-container .item5 {
    background-color: #4B7EA7;
    color: white;
}

.grid-container .item6 {
    margin-top:25%;
    background-color:black;
}


.txtimg{
    grid-column-start:2;
    grid-column-end:4;
    max-height:100%;
    max-width:100%;
}

.txtimg img{
    max-width:50%
}

.txtimg headline{
    position:absolute;
    margin-top: 100px;
    margin-left:10px;
    color:#5d7fb9;
    font-size:20px;
}

.txtimg lines{
    position:absolute;
    margin-top:150px;
    margin-left:10px;
    text-overflow:auto;
    color:black;
    font-size:20px;
}

.grid-container a{
    color:white;
}

.grid-container h1{
    color:blue;
}


/*=======================UPLOAD FORM===========================*/


.uploads {
    color:white;
    margin-top:150px;
}


input[type=submit]{
    margin-top:5px;
    padding: 5px 10px;
    font-size:16px;
    border: none;
    cursor: pointer;
    background-color:#333333;
    color:white;
}

error{
    color: #ff0000;
    font-size: large;
}